<!--
  Laptop Grading System (LGS)
  Developed by: Hiran Tiago Lins Borba
  Year: 2026
  History:
  - 0.1 (2026-01-17) Beta release
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container mx-auto px-4 py-8">
    <div class="alert alert-warning">
      <span>404 - Page not found.</span>
    </div>
  </div>
</body>
</html>
